---
import MainLayout from "@/layouts/MainLayout.astro"
import AddToCalendarButton from "../components/addToCanaldar.tsx"
---

<MainLayout title="Aktivitäten">
  <div class="min-h-screen">
    <h1>Aktivitäten</h1>
    <br />
    <br />
    <p>Coming Soon..!</p>
    <AddToCalendarButton client:only="react" label="Woohooo" />
  </div>
</MainLayout>
