---
import MainLayout from "@/layouts/MainLayout.astro"
import AddToCalendarButton from "../components/addToCanaldar.tsx"
---

<MainLayout title="Aktivitäten">
  <div>
    <h1>Aktivitäten</h1>
    <AddToCalendarButton client:only="react" label="Woohooo" />
  </div>
</MainLayout>
