---
import MainLayout from "../layouts/MainLayout.astro"
import BtnTransparent from "../components/btn_transparent.astro"
import BtnBlack from "../components/btn_black.astro"
import H1 from "../components/typography/h1.astro"
import H2 from "../components/typography/h2.astro"
import H3 from "../components/typography/h3.astro"
import H4 from "../components/typography/h4.astro"
import Maps from "../components/maps.astro"
import SlideShow from "../components/slideshow/index.astro"
import Activites from "../components/activites/index.astro"
---

<MainLayout title="Home Page">
  <SlideShow />
  <div class="h-auto">
    <Activites />
  </div>
  <Maps />
</MainLayout>
