---
const { url, className } = Astro.props
---

<a
  href={url}
  class:list={[
    "font-heading text-base uppercase font-[500] hover:duration-700 active:text-[#de0a84]",
    className,
  ]}
>
  <slot />
</a>
